<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VueJS</title>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/ofd-ui.css">

</head>
<body>
  <div uk-grid id="app" v-cloak>

    <login-form />

    <!-- component props -->

      <hr>

      <button
        class="uk-button uk-button-default"
        @click="toggleBox">
        Toggle Box
      </button>

      <div class="box one" v-if="isVisible"></div>
  </div>

  <!-- Vue JS -->
  <script src="https://unpkg.com/vue@next"></script>

  <script>
    // vue init
    let app = Vue.createApp({
      data: function() {
        return {
          greeting: 'Hello Vue 3!',
          isVisible: false
        }
      },

      methods: {
        toggleBox() {
          this.isVisible = !this.isVisible
        },
        greet(greeting) {
          console.log(greeting)
        }
      }
    });

    //app components
    app.component('login-form', {
      template: `
        <div class="component">
          <form @submit.prevent="handleSubmit">
            <h2>{{title}}</h2>
            <custom-input v-model="email" :label="email_label"/>
            <custom-input v-model="password" :label="password_label"/>
            <button type="submit">Submit</button>
          </form>
        </div>
      `,
      components: ['custom-input'],
      data() {
        return {
          title: 'Login Form',
          email: '',
          password: '',
          email_label: 'Email',
          password_label: 'Password'
        }
      },

      methods: {
        handleSubmit() {
          console.log(this.email, this.password)
        }
      }
    })

    app.component('custom-input', {
      template: `
      <label>
        {{ label }}
        <input type="text" v-model="inputValue">
      </label>
      `,
      props: ['label', 'modelValue'],
      computed: {
        inputValue: {
          get() {
            return this.modelValue
          },
          set(value) {          
            this.$emit('update:modelValue', value)
          }
        }
      }
      // data() {
      //   return {
      //     inputValue: ''
      //   }
      // }
    })

    //mount app to document
    app.mount('#app');


  </script>
</body>
</html>
